.horario{

    width: 100%;
    font-size: 1rem;
    text-align: center;
    padding-top: 7.5%;
    padding-left: 7.5%;
    padding-right: 7.5%;

}

.periodo{
    padding-top: 5px;
    padding-bottom: 5px;
}

