.navbar {
    background-color: #3f4444;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
    
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    max-width: 150px;
    
  }
  
  .nav-logo {
    color: #1fe640;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    flex-grow: 1;
    font-weight: bold; 
     
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    margin-right: 2rem;
    
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.3rem 0.5rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #1fe640;
  }
  
  .nav-item .active {
    color: #1fe640;
    border: 1px solid #1fe640;
  }
  
  .nav-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 90%;
      border-top: 1px solid rgb(12, 12, 12);
      position: absolute;
      top: 65px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #3f4444;
      left: 0px;
      opacity: 0.90;
      transition: all 0.5s ease;
      z-index: 1;
      height: max-content;
      
    }
    .nav-item .active {
      color: #1fe640;
      border: none;
    }
    .nav-links {
      padding: 0.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.2rem;
      cursor: pointer;
      color: #1fe640;
      /*comentario en css*/
    }
  }